.input{
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 1px 1px 2px #333333;
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
    background: #cccccc;
    border: 1px solid #000000;
    width: 250px;
    height: 30px;
    margin: 3px;
    text-align: center;
    color: black    ;
}

.button{
    width: 100px;
    height: 30px;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.bloco{
    text-align: center;
    margin-top: 120px;
    font-size:larger;
}
